<div id="tweet-<%= tweet.id %>" class="micropost">
  <div class="content">
    <div class="avatar-content">
      <%= link_to tweet.user do %>
        <%= render 'partials/avatar', user: tweet.user, klass: 'avatar' %>
      <% end %>
    </div>
    <div class="post-content">
      <%= link_to tweet.user do %>
        <span class="name"><%= tweet.user.name %></span>
      <% end %>
      <%= link_to tweet.user do %>
        <span class="username">@<%= tweet.user.username %></span>
      <% end %>
      <div class="post">
        <%= auto_link(parse(tweet.tweet_text), html: { target: '_blank' }) %>
      </div>
      <div class="media">
        <%= image_tag tweet.media_url, style: "width: 100%; margin-top: 10px;" if tweet.media? %>
      </div>
    </div>
    <div class="right-content">
      <span><%= relative_time(tweet.created_at) %></span>
    </div>
  </div>
  <div class="actions">
    <div class="actions-content">
      <%= link_to reply_tweet_path(tweet.id), method: :post, remote: true do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
      <span id="retweet-<%= tweet.id %>">
        <%= render 'retweets/retweet_button', tweet_id: tweet.id %>
      </span>
      <span id="favor-tweet-<%= tweet.id %>">
        <%= render 'favorites/favorite_button', tweet_id: tweet.id %>
      </span>
      <% if tweet.user == current_user %>
        <%= link_to tweet_path(tweet), method: :delete, remote: true do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="reply-form">
  </div>
</div>
