<%= form_tag tweets_path(parent_id: tweet_id), multipart: true, method: :post, remote: true do %>
  <div class="form-group">
    <%= text_area_tag "tweet[tweet_text]", nil, class: "form-control", placeholder: "Enter Tweet 140 characters" %>
  </div>
  <div class="form-group hidden">
    <img id="tweet-img-preview">
    <a id="remove-tweet-img" href="#">&times;</a>
  </div>
  <div class="form-group">
    <%= hidden_field_tag "tweet[location]", nil %>
  </div>
  <div class="form-group">
    <%= file_field_tag "tweet[media]", class: "hidden", id: "media-upload-btn" %>
    <%= button_tag id: "tweet", class: "btn btn-primary" do %>
      <%= fa_icon "paper-plane" %> Tweet
    <% end %>
    <div class="pull-right">
      <span id="tweet-count">140</span>
      <a id="ps-media-upload-btn" href="javascript:void(0);" class="btn btn-default">
        <i class="fa fa-camera"></i>
      </a>
      <a id="location-btn" href="#" class="btn btn-default">
        <i class="fa fa-map-marker"></i>
      </a>
    </div>
  </div>
<% end %>
<div id="tweet-error">
  <%= render 'partials/error_message', error_message: nil %>
</div>
