<%= form_tag tweets_path(parent_id: tweet_id), method: :post, remote: true do %>
  <div class="form-group">
    <% if tweet_id.nil? %>
      <%= text_area_tag 'tweet[tweet_text]', nil, id: 'new-tweet', class: 'form-control', placeholder: 'Enter Tweet 140 characters' %>
    <% else %>
      <%= text_area_tag 'tweet[tweet_text]', '@#{Tweet.find(tweet_id).user.username}', id: 'new-tweet', class: 'form-control', placeholder: 'Enter Reply' %>
    <% end %>
  </div>
  <div class="form-group">
    <% if tweet_id.nil? %>
      <%= submit_tag 'Tweet', id: 'tweet', class: 'btn btn-primary' %>
    <% else %>
      <%= submit_tag 'Reply', id: 'tweet', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', '#', class: 'btn btn-primary cancel-reply', onclick: 'removeParent(this);' %>
    <% end %>
  </div>
<% end %>
