<%= form_tag tweets_path(parent_id: tweet_id), multipart: true, method: :post, remote: true do %>
  <div class="form-group">
    <%= text_area_tag "tweet[tweet_text]", nil, class: "form-control", placeholder: "Enter Tweet 140 characters" %>
  </div>
  <div class="form-group">
    <%= hidden_field_tag "tweet[location]", nil %>
  </div>
  <div class="form-group">
    <%= file_field_tag "tweet[media]", class: "hidden", id: "media-upload-btn" %>
    <%= submit_tag "Tweet", id: 'tweet', class: 'btn btn-primary' %>
    <a id="ps-media-upload-btn" href="javascript:void(0);" class="btn btn-default">
      <i class="fa fa-camera"></i>
    </a>
    <a id="location-btn" href="#" class="btn btn-default">
      <i class="fa fa-map-marker"></i>
    </a>
  </div>
<% end %>
