<div class="well user-info">
  <div class="text-center">
    <%= render 'partials/avatar', user: @user, klass: 'avatar-lg' %>
    <h4><b><%= @user.name %></b></h4>
    <h3><small>@<%= @user.username %></small></h3>
    <br>
    <h5><%= @user.about || "No Info" %></h5>
    <% unless @user.location.empty? %>
      <h5><i class="fa fa-map-marker"></i> <%= @user.location %></h5>
    <% end %>
    <% unless @user.website.empty? %>
      <h5><i class="fa fa-link"></i> <%= @user.website %></h5>
    <% end %>
    <h5><i class="fa fa-clock-o"></i> Joined <%= @user.created_at %></h5>
  </div>
</div>
