<div style="<%= user_cover(@user) %>" class="cover-pic">
</div>
<%= render 'user_nav', view_type: 'followers' %>
<div class="row">
  <div class="col-lg-3">
    <%= render 'user_info' %>
  </div>
  <div class="col-lg-6">
    <div id="content">
      <div id="followers" class="well">
        <%= render(@users) || "No Followers" %>
      </div>
      <div id="load-more">
        <%= render 'partials/load_more' %>
      </div>
    </div>
  </div>
</div>
