<div style="<%= user_cover(@user) %>" class="cover-pic">
</div>
<%= render 'user_nav', view_type: 'following' %>
<div class="row">
  <div class="col-lg-3">
    <%= render 'user_info' %>
  </div>
  <div class="col-lg-6">
    <div id="content">
      <div id="following" class="well">
        <% if @users.empty? %>
          <span>No Following</span>
        <% else %>
          <%= render @users %>
        <% end %>
      </div>
      <div id="load-more">
        <%= render 'partials/load_more' %>
      </div>
    </div>
  </div>
</div>
