<div style="<%= user_cover(@user) %>" class="cover-pic">
</div>
<%= render 'user_nav', view_type: 'profile' %>
<div class="row">
  <div class="col-lg-3">
    <%= render 'partials/user_info', view_type: 'profile', user: @user %>
  </div>
  <div class="col-lg-6">
    <div id="content">
      <div id="feed" class="well feed">
        <%= render(@tweets) || "No Tweets" %>
      </div>
      <div id="load-more">
        <%= render 'partials/load_more', items: @tweets %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="well"></div>
  </div>
</div>
