<div id="change-password-form" class="row tw-form">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <h4 class="title"><b>Change your password</b></h4>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-1">
          <label>To change your password enter new password and confirmation</label>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "Password",autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repeat Password",autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.submit "Change password", class: "btn btn-primary" %>
            </div>
            <%= render 'partials/devise_form_errors' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
