<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Change your password</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <%= f.password_field :password, autofocus: true, class: "form-control", placeholder: "Password",autocomplete: "off" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Repeat Password",autocomplete: "off" %>
            </div>
            <div><%= f.submit "Change password", class: "btn btn-primary" %></div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
