<div class="row">
  <div class="col-lg-3 col-lg-offset-1">
    <div class="card">
      <div class="cover" data-cover="<%= current_user.cover %>">
        <%= image_tag current_user.avatar, class: "avatar" %>
      </div>
      <div class="about">
        <h3 class="name"><%= current_user.name %></h3>
        <h5 class="username"><b>@<%= current_user.username %></b></h5>
        <br>
        <span class="content"><%= current_user.about %></span>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-10">
        <div class="well">
          <%= render 'partials/new_tweet', tweet_id: nil %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <div id="feed" class="well feed">
          <%= render(@tweets) || "No Tweets" %>
        </div>
        <div id="load-more">
          <%= render 'partials/load_more', items: @tweets %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
  </div>
</div>
