<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.text_field :login, class: "form-control", placeholder: "email or username" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="form-group">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in', class: "btn btn-primary pull-right" %>
  </div>
<% end %>
